.chatBubble {
   max-width: 30em;
   border-radius: .7rem;
   padding: .2em;
   margin-top: .7em;
   margin:.2em;
   max-width: 70%;
   word-break: break-all;
  white-space: normal;
}
.oneChat{

   height: 3.7rem;
}

.chatBox {
   /* border: grey solid 3px;
   border-radius: 2rem;  */
   width: 82%;
   margin-left: 10%;
   background-color: #1c768F;
   height: 25rem;
   overflow: auto;
   padding: .5em;
   display:flex;
   flex-direction: column;
   align-content: space-around;
   overflow: auto;
}
.bigDiv {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;

}
.text-input{
  margin-top: .3em;
display:flex;
flex-direction: row;
justify-content: flex-end;
min-width: 78%;
}

.chatListItem {
  /* display:flex;
  flex-wrap: wrap;
  align-content: space-around; */
  border-color: #FBF3F2;
  min-width: 90%;
}

.list-group {
  display:flex;
  flex-wrap: wrap;
  align-content: space-around;
}


.list-group-item {
width: 100%;
}
.backArrow{
  font-size: 2.5em;
}

.reject-button{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: .5em;
}

.driverTile {
font-size: 1.5em;
width:110%;
}
.driveInfo{
  text-align: center;
  padding: .5em;
}