@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    justify-content: center;

  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.LoginAndSelection {
  min-height: 100vh;
  background-color: #1c768F;
}

.riderOrDriver {
  justify-content: center;
}


.riderOrDriver img {
  display: inline-block;
  width: auto;
  padding: 5em;
  margin: 5em;
  cursor: pointer;
}

.backToMainNav {
  position: absolute;
  top: 0%;
  cursor: pointer;
  justify-self: center;
  margin-left: 5px;
  min-height: 21px;
  width: auto;
  border: 1px solid black;
}

h1 {
  text-align: center;
}

