.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}

.LoginAndSelection {
  min-height: 100vh;
  background-color: #9AD0EC;
}

.riderOrDriver {
  position: relative;
  justify-content: center;
}

.riderOrDriver img {
  display: inline-block;
  right: 10%;
  width: 25rem;
  margin: 2rem;
  cursor: pointer;
  padding: 3rem;
}

.imgWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RorDwrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .RorDwrapper {
    flex-direction: column;
  }
}

.backToMainNav {
  position: absolute;
  top: 0%;
  cursor: pointer;
  justify-self: center;
  margin-left: 5px;
  min-height: 21px;
  width: auto;
  border: 1px solid black;
}

h1 {
  text-align: center;
}

