@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.LoginAndSelection {
  width: 100%;
}

.backToMainNav {
  position: absolute;
  top: 0%;
  cursor: pointer;
  justify-self: center;
  margin-left: 5px;
  min-height: 21px;
  width: auto;
  border: 1px solid black;
}

.LoginAndSelection h1 {
  text-align: center;
}