/* Colors:

Orange: #FA991C rgb(250, 153, 28)' 
Cream #FBF3F2
Light Blue: #1C768F  'rgb(28, 118, 143)
Dark Blue : #032539 */

.rider-portal-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  
}

h2 {
 
  text-align: center;
  border-bottom: #FA991C;
  align-items: center;
  border-width: 1rem;
}

.div-h2 {
  display:flex;
  align-items: center;
  flex-direction: column;
  position:relative;
  
}

.hamburger-menu {
  position: absolute;
  top: 20%;
  left: 0;

}

.new-ride-button {
  float: right;
  margin-top: 1rem;
}


.rider-portal-button {
  float: right;
  margin-top: 1rem;
}




/* Mitchell */
.offcanvas {
  background-color: #1c768F;
  color: #FBF3F2;
}

.offcanvas-header {
  border-bottom: solid .25em #FBF3F2;
}

.offcanvas-title {
  font-size: 3em;
}

.offcanvas-body {
  font-size: 2em;
}

.offcanvasBody:hover {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.card {
  background-color: #1c768F;
  text-align: center;
}

.card-title {
  font-size: 4em;
  margin-bottom: 1.5rem;
}

.backArrow {
  color: #FA991C;
  font-size: 4em;
  text-align: left;
}

.list-group-item {
  text-align: center;
  color: #FBF3F2;
  background-color: #032539;
  margin-bottom: 1em;
  font-size: 2em;
}