.rider-portal-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

h2 {
  text-align: center;
  align-items: center;
}

.div-h2 {
  display:flex;
  align-items: center;
  flex-direction: column;
  position:relative;
  margin-bottom: 1rem
}

.hamburger-menu {
  position: absolute;
  top: 20%;
  left: 0;
}

.new-ride-button {
  float: right;
  margin-top: 2rem;
}


.rider-portal-button {
  float: right;
  margin-top: 1rem;
}

.offcanvas {
  background-color: #9AD0EC;
  color: #FBF3F2;
}

.offcanvas-header {
  border-bottom: solid .25rem #FBF3F2;
}

.offcanvas-title {
  font-size: 3rem;
}

.offcanvas-body {
  font-size: 1.5rem;
}

.offcanvasBody:hover {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.card {
  background-color: #9AD0EC;
  text-align: center;
  border: none;
}

.card-header {
  background-color: #1c768f;
}

.card-title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.backArrow {
  color: #FA991C;
  font-size: 3em;
  filter:drop-shadow(.02em .03em .02em black);
  cursor: pointer;
}

.backArrowCard {
    color: #FA991C;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    filter:drop-shadow(.02em .03em .02em black);
    cursor: pointer;
}

.list-group-item {
  text-align: center;
  color: #FBF3F2;
  background-color: #1c768f;
  margin-bottom: 1em;
  font-size: 2em;
  cursor: pointer;
  filter:drop-shadow(.04em .05em .02em black);
}

.hamburgerIcon {
  color: #FA991C;
}